.card {
  width: 400px;
  background-color: rgb(255, 255, 255);
  padding: 50px;
  border-radius: 35px;
}

.img {
  width: 5px;
  height: 5px;
  border: 4px solid #04608f;
  border-radius: 30%;
  margin-bottom: 6px;
}
